<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyingjannis.meataccount">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_eckig2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_rund2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.CreateAmountActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".broadcasts.NewMeatBroadcastDE"/>
        <receiver android:name=".broadcasts.NewMeatBroadcastEN"/>
        <receiver android:name=".broadcasts.ReminderBroadcastDE"/>
        <receiver android:name=".broadcasts.ReminderBroadcastEN"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id"/>
    </application>

</manifest>