<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyingjannis.meataccountPRO">
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_pro"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.flyingjannis.meataccountPRO.activities.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.flyingjannis.meataccountPRO.activities.CreateAmountActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.flyingjannis.meataccountPRO.activities.MainActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.flyingjannis.meataccountPRO.broadcasts.NewMeatBroadcastDE"/>
        <receiver android:name="com.flyingjannis.meataccountPRO.broadcasts.NewMeatBroadcastEN"/>
        <receiver android:name="com.flyingjannis.meataccountPRO.broadcasts.ReminderBroadcastDE"/>
        <receiver android:name="com.flyingjannis.meataccountPRO.broadcasts.ReminderBroadcastEN"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id"/>
    </application>

</manifest>